{% extends "base.html.twig" %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Connexion</h1>
    </div>

    <div class="container mx-auto ">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row ">
            <div class="col-md-6 offset-md-3 mx-auto" >

            </div>
        </div>
    </div>
{% endblock %}

